.App {
  text-align: center;
}

body {
  background-color: #0D090A;
}

h1 {
  color: #F5F5F5;
  background-color: transparent;
  margin: 15px;
}

.container {
  margin-top: 85px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.submitButton {
  color: #F5F5F5;
  background-color: #3DA35D;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px 15px;
  border: none;
  margin-left: 10px;
}

.moon {
  border-radius: 100%;
  width: 112px;
  height: 112px;
  filter: blur(1px);
  background: rgb(188,205,215);
  background: linear-gradient(135deg, rgba(188,205,215,1) 0%, rgba(245,245,245,1) 45%, rgba(245,245,245,1) 100%);
}

.dateContainer {
  z-index: 1;
  margin: 25px 10px;
}

.inputGroup div {
  margin: 10px;
  background-color: #F5F5F5;
  color: #0D090A;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 3px;
  position: relative;
}

.buttonOptions {
  background-color: #F5F5F5;
  color: #0D090A;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 3px;
  width: 120px;
  font-size: 16px;
  border: none;
  margin-bottom: 2px;
}

.monthGroup {
  min-width: 100px;
}

.monthGroup:hover {
  cursor: pointer;
}

.monthList {
  flex-direction: column;
  position: absolute;
  top: 30px;
  left: 0;
}

.daysList {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 130px;
}

.yearGroup {
  width: 45px;
}

.yearGroup > input {
  padding: 0;
  border: none;
  font-weight: 700;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  width: 100%;
}

input:focus {
  outline: none;
}

.dayCount {
  width: 100px;
  height: 40px;
  background-color: white;
}
