@media(max-width: 1024px) {
    .submitButton:hover {
        background-color: #3DA35D;
    }

    .randomDateButton:hover {
        background-color: mediumpurple;
    }
}

@media(max-width: 640px) {
    .moon {
        height: 80px;
        width: 80px;
    }

    .title {
        font-size: 32px;
    }

    .inputGroup div,
    .yearGroup > input {
        font-size: 16px;
        min-height: 26px;
    }
}

@media(max-width: 540px) {
    .monthGroup {
        min-width: 90px;
    }

    .dayGroup {
        min-width: 45px;
    }

    .resultsContainer {
        height: 150px;
    }

    .displayCount {
        width: 242px;
    }

    .unitButton {
        font-size: 13px;
    }

    .flex-column-center {
        justify-content: flex-start;
        padding-top: 50px;
    }

    .title {
        font-size: 28px;
    }

    .blurb {
        font-size: 14px;
    }
}

@media(max-width: 425px) {
    .title {
        font-size: 25px;
    }
}
